.playground__item svg {
  position: relative;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
}

@keyframes appear {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}
